<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Power consumption</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"></link>

    <link rel="shortcut icon" href="ico/favicon.ico"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  </head>

  <body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="index.html">Power consumption</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div ng-controller="chartController" class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Power</li>
              <li ng-repeat="item in data.powerItems">
		<a ng-click="draw_chart(item.url, 'Power ' + item.title, 'W')" 
		   href="#">{{ item.title }}</a>
	      </li>
              <li class="nav-header">Temp</li>
              <li ng-repeat="item in data.tempItems">
		<a ng-click="draw_chart(item.url, 'Temperature ' + item.title, '&deg;C')" href="#">{{ item.title }}</a>
	      </li>
            </ul>
          </div>
        </div>
        <div class="span8">
          <div id="content">
          </div>
        </div>
	<div class="span2">
	  <div class="well">
	    <h3>Power</h3>
	    <div>Garage: {{ power.garage | number:0 }} W</div>
	    <div>House: {{ power.house | number:0 }} W</div>
	    <h3>Temp</h3>
	    <div>Utomhus: {{ temperature.Utomhus | number:1 }} &deg;C</div>
	    <div>Anton: {{ temperature.Anton | number:1 }} &deg;C</div>
	    <div>Ella: {{ temperature.Ella | number:1 }} &deg;C</div>
	    <div>Matplats: {{ temperature.Matplats | number:1 }} &deg;C</div>
	    <div>A: {{ temperature.A | number:1 }} &deg;C</div>
	    <div>B: {{ temperature.B | number:1 }} &deg;C</div>
	    <div>C: {{ temperature.C | number:1 }} &deg;C</div>
	    <div>D: {{ temperature.D | number:1 }} &deg;C</div>
	    <div>E: {{ temperature.E | number:1 }} &deg;C</div>
	  </div>
      </div>
      <hr>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/2.3.5/highcharts.js"></script>
    <script type="text/javascript" src="js/chart.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    </script>

    <script>
      "use strict";
      var myApp = angular.module( 'myApp', [] );

      function chartController( $scope ) {
        $scope.data = { 
          powerItems: [
            { title: "Last 3h", url: "power/3h" },
            { title: "Last 24h", url: "power/24h" },
            { title: "Last 48h", url: "power/48h" },
            { title: "Last week", url: "power/1w" },
            { title: "Last month", url: "power/1m" },
            { title: "Last 3 months", url: "power/3m" },
            { title: "Last year", url: "power/1y" }
          ],
          tempItems: [
            { title: "Last 3h", url: "temperature/3h" },
            { title: "Last 24h", url: "temperature/24h" },
            { title: "Last 48h", url: "temperature/48h" },
            { title: "Last week", url: "temperature/1w" },
            { title: "Last month", url: "temperature/1m" },
            { title: "Last 3 months", url: "temperature/3m" },
            { title: "Last year", url: "temperature/1y" }
          ]
        }

        $scope.draw_chart = function( url, title, y_label ) {
          draw_chart( url, title, y_label ); 
        }
      
        $scope.data.current_item = $scope.data.powerItems[0];
        $scope.draw_chart( $scope.data.current_item.url,
          'Power ' + $scope.data.current_item.title, "W" );
        $scope.power = {};
        $scope.temperature = {};

        var socket = io.connect('http://power.holmlund.se');
        socket.on('power', function (data) {
           $scope.$apply( function() {
             $scope.power.garage = data.garage;
             $scope.power.house = data.house;
            } );
        });

        socket.on('temperature', function (data) {
           $scope.$apply( function() {
             $scope.temperature = data;
            } );
        });

      }

    </script>
  </body>

</html>

